# World Data Assignement

In [7]:
! pip install pandas

Requirement already satisfied: pandas in ./env/lib/python3.10/site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in ./env/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in ./env/lib/python3.10/site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in ./env/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [8]:
import pandas as pd

In [9]:
world_data = pd.read_csv('literacy.csv', encoding="ISO-8859-1")

Load the data in the CSV List the columns Get the number of rows & columns

In [10]:
rows = world_data.shape[0]
cols = world_data.shape[1]

print(f'In this database, there are {rows} rows and {cols} columns')

In this database, there are 56255 rows and 7 columns

Describe the data - what's the best and worse country/year combination

In [22]:
best_combo_male = world_data.groupby(['Entity', 'Year'])["Youth literacy rate, population 15-24 years, male (%)"].max().sort_values(ascending=False)
best_combo_female = world_data.groupby(['Entity', 'Year'])["Youth literacy rate, population 15-24 years, female (%)"].max().sort_values(ascending=False)

print('Best male literacy rate/ year combination\n', best_combo_male.head(5), '\n')
print('Best female literacy rate/ year combination\n', best_combo_female.head(5))

Best male literacy rate/ year combination
 Entity      Year
Andorra     2015    100.0
Greenland   2015    100.0
Uzbekistan  2015    100.0
            2014    100.0
            2013    100.0
Name: Youth literacy rate, population 15-24 years, male (%), dtype: float64

Best female literacy rate/ year combination
 Entity      Year
Uzbekistan  2014    100.0
Andorra     2015    100.0
Uzbekistan  2015    100.0
Azerbaijan  2007    100.0
Uzbekistan  2013    100.0
Name: Youth literacy rate, population 15-24 years, female (%), dtype: float64

In [20]:
worst_combo_male = world_data.groupby(['Entity', 'Year'])["Youth literacy rate, population 15-24 years, male (%)"].min().sort_values(ascending=True)
worst_combo_female = world_data.groupby(['Entity', 'Year'])["Youth literacy rate, population 15-24 years, female (%)"].min().sort_values(ascending=True)

print('Worst male literacy rate/ year combination\n', worst_combo_male.head(5), '\n')
print('Worst female literacy rate/ year combination\n', worst_combo_female.head(5))

Worst male literacy rate/ year combination
 Entity        Year
Burkina Faso  1975    22.377131
              1996    25.478260
Niger         2001    26.230060
Chad          1993    26.246229
Mali          1976    26.665630
Name: Youth literacy rate, population 15-24 years, male (%), dtype: float64

Worst female literacy rate/ year combination
 Entity        Year
Burkina Faso  1975     6.66406
Chad          1993     8.94584
Afghanistan   1979    11.14280
Guinea        1996    13.47280
Mali          1976    13.47465
Name: Youth literacy rate, population 15-24 years, female (%), dtype: float64

Filter the data for the year 1980 and order the result by decreasing value

In [28]:
world_data_1980s = world_data.loc[(world_data['Year']==1980)].sort_values("Entity", ascending=True)

world_data_1980s.head(10)

,Entity,Code,Year,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Continent
219,Afghanistan,AFG,1980,NaN,NaN,13356500.0,NaN
477,Africa,NaN,1980,NaN,NaN,476386225.0,NaN
741,Albania,ALB,1980,NaN,NaN,2682697.0,NaN
1000,Algeria,DZA,1980,NaN,NaN,19221659.0,NaN
1038,American Samoa,ASM,1980,97.888618,97.443649,32648.0,NaN
1371,Andorra,AND,1980,NaN,NaN,36063.0,NaN
1630,Angola,AGO,1980,NaN,NaN,8341290.0,NaN
1749,Anguilla,AIA,1980,NaN,NaN,7284.0,NaN
2009,Antigua and Barbuda,ATG,1980,NaN,NaN,61861.0,NaN
2081,Argentina,ARG,1980,96.459221,97.302483,27896532.0,NaN

Group the data by year - what's the mean value for year 1980? What's the difference with 2000?

In [62]:
avg_1980_female = world_data[world_data['Year'] == 1980]['Youth literacy rate, population 15-24 years, female (%)'].mean()
avg_2000_female = world_data[world_data['Year'] == 2000]['Youth literacy rate, population 15-24 years, female (%)'].mean()

SyntaxError: unmatched ']' (2337481067.py, line 1)